<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 	 <link rel="stylesheet" href="../static/forgrouprecord.css">
 	 
<title>記録一覧</title>

</head>
<body>
<button type="submit" class="btn btn-outline-light">グループトップに戻る</button>
<h1>これまでの記録</h1>

<div class="hitoribunn">
	<h3>○年○月○日　〜〜さん</h3>
	<table>
		<tr><td><span class="formgroup">朝の体重：</span></td><td><div class=""> 100kg</div></td>
		<td><span class="formgroup">朝の体脂肪率：</span></td><td><div class="">50%</div></td></tr>
		<tr><td><span class="formgroup">夜の体重：</span></td><td><div class="">98.9kg</div></td>
		<td><span class="formgroup">夜の体脂肪率：</span></td><td><div class="">49%</div></td></tr>
		<tr><td><span class="formgroup">朝ご飯：</span></td><td><div class="">おにぎり、ラーメン</div></td></tr>
		<tr><td><span class="formgroup">昼ご飯：</span></td><td><div class="">カツカレー、サラダ</div></td></tr>
		<tr><td><span class="formgroup">夜ご飯：</span></td><td><div class="">パエリア、コブサラダ、ラッシー</div></td></tr>
		<tr><td><span class="formgroup">運動：</span></td><td><div class="">なし</div></td></tr>
		<tr><td><span class="formgroup">コメント：</span></td><td><div class="">明日は走ります</div></td></tr>
	</table>
	<form>
		<textarea ></textarea><br>
		<button type="submit" class="btn btn-light">コメントする</button>
	</form>
	<hr>
</div>




</body>
</html>