<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 	 <link rel="stylesheet" th:href="@{/forgrouptoppage.css}">
 	 
<title>グループトップページ</title>

</head>
<body>
<form th:action="@{/user/toToppage}">
<button type="submit" class="btn btn-outline-light">トップに戻る</button>
</form>
<h1>グループID：<span th:text="${session.loginGroupId}"></span></h1>
<h2>現在の目標達成率</h2>
<div class="grouptopmessage">さん</div>
<div class="grouptopmessage">％</div>
<h2>目標まで　あと</h2>
<div class="grouptopmessage">日</div>


	<br>
	<button type="submit" class="btn btn-light">本日の記録</button><br>
	<button type="submit" class="btn btn-light">記録一覧</button>

</body>
</html>