<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 	 <link rel="stylesheet" href="../static/fortoppage.css">
 	 
<title>トップページ</title>

</head>
<div class="allitem">
<body>

<h1>SHARE RECORDS!</h1>
<h2>be beautiful with us.</h2>

	<form action="">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">グループにログイン</h5>
				<input type="text" placeholder="ID入力">
		  </div>
		</div>
	</form>
	
	<br>
	<button type="submit" class="btn btn-light">ユーザー登録</button><br>
	<button type="submit" class="btn btn-outline-light">退会/編集</button>

</body>
</div>
</html>